body {
	background:url(../images/bg.jpg) fixed;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}
h1, h2, h3, h4, h5, h6, p, li a, a, 
label, 
.form-control, 
.btn-primary, .btn-success, .btn-warning, .btn-info, .btn-danger, .btn-default, .btn-inverse
.login-button h6 a, 
strong, 
.panel-primary>.panel-heading, .panel-default>.panel-heading, .panel-inverse>.panel-heading, 
.panel-info>.panel-heading, .panel-success>.panel-heading, .panel-warning>.panel-heading, .panel-danger>.panel-heading {
	font-family: 'Roboto'
}
#carousel {
	margin-top:-20px;
}
.cont .col-sm-4 .img {
	margin-left:10px;
	margin-right:10px;
	float:left;
	width:260px;
	margin-top:20px;
}
.cont .col-sm-4 .img1 {
	margin-left:10px;
	margin-right:10px;
}
.col-md-4 {
	margin-top:20px;
	float:left;
}
.footer {
	background:#333333;
	margin-top:20px;
}
.footer .col-md-3  h4, p {
	color:#FFFFFF;
}
.footer .col-md-3 p {
	font-size:12px;
}
.footer .col-md-6  h4, p {
	color:#FFFFFF;
}
.footer .col-md-6 p {
	font-size:12px;
}
.footer a {
	color:#FFFFFF;
	float:left;
	text-decoration:none;
}
.footer a:hover {
	color:#FF6600;
	text-decoration:none;
}
.footer ul li {
	margin-left:-38px;
}
.copy {
	background-color:#333333;
}
.copy p {
	color:#CCCCCC;
	text-align:center;
	font-size:11px;
	padding-bottom:15px;
}
.map {
	margin-top:40px;
}
.breadcrumb {
	margin-top:-20px;
}
.cont {
	margin-top:-10px;
	min-height:300px;
}
.lcat {
	background:#0b86b9;
	margin-top:-20px;
}
.smen a {
	color:#FFFFFF;
	text-decoration:none;
}
.smen a p {
	margin-left:30px;
}
.smen a:hover {
	text-decoration:none;
	color:#FF6600;
}
.listdata {
	margin-bottom:20px;
}
.listdata .col-sm-4 .img, .img1 {
	background:#FFFFFF;
	border-radius:5px;
	height:350px;
}
.listdata .col-sm-4 h4 {
	color:#FF0000;
	text-decoration:none;
}
.listdata .col-sm-4 h4:hover {
	color:#000;
}
.listdata .col-sm-4 p {
	color:#000;
	text-decoration:none;
}
.listdata .col-sm-4 p:hover {
	color:#FF0000;
}
strong {
	margin-left:20px !important;
	font-size:20px;
}
.form:focus {
  	border-color: #01c4ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(126, 239, 104, 0.6);
}
.panel-body a {
	font-size:15px;
	color:#000000;
}
.panel-body a:hover {
	font-size:18px;
	color:#CCCCCC;
	text-decoration:none;
}
.panel-body {
	min-height:150px;
}
.panel-body .active {
	color:#ff0000;
}
.panel-heading {
	min-height:48px;
}
.listdata .col-sm-4 .img a:hover {
	text-decoration:none;
}
.dtxt p {
	color:#000000;
	font-size:16px;
	text-align:justify;
	padding-left:10px;
}
.vid {
	margin-top:20px;
	margin-bottom:20px;
}
.cont .col-sm-6 {
	padding-left:10px;
}
.cont .col-sm-4 {
	margin-left:10px;
}
.cont .col-sm-4, .vid1 {
	margin-right:-10px;
}
.navbar-right, .dropdown ul li a {
	margin-right:1px;
}
.left {
	margin-left:13px;
}
#cmlist a {
	color:#ffffff;
	margin-left:18px;
}
#cmlist a:hover {
	color:#26a5de;
	text-decoration:none;
}
.listdata h2 {
	margin-left:20px;
}



/* Login styles */

.login-bottom a{text-decoration:none;}
.head{
	position: relative;
    z-index: 1;
}
.login-form h2{
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 1.5em;
    line-height: 0.7em;
    letter-spacing: 0px;
}
span.fa.fa-lock {
    position: absolute;
    font-size: 75px;
    color: #e4eae7;
    left: 45%;
    top: -100%;
    z-index: -1;
}
/*-- main --*/
.main {
    padding: 3em 0 0;
    text-align: center;
}
.main-row {
    margin: 0 auto;
	background: #fff;
	max-width: 400px;
    padding: 3em 2em 2em;
    text-align: center;
	border:1px solid #000000;
}
.login-form input[type="text"], .login-form input[type="password"] {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
	margin-bottom: 1em;
    -webkit-appearance: none;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
}
.login-form p {
    font-size: 0.9em;
    color: #fff;
    margin: 1.5em 0 .8em;
    font-weight: 200;
    letter-spacing: 6px;
    text-align: left;
}
/*--placeholder-color--*/
::-webkit-input-placeholder{
	color: #666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666; 
}

:-ms-input-placeholder {  
   color: #666;
}
/*--//placeholder-color--*/ 

.login-form input[type="submit"] {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    -webkit-appearance: none;
	text-transform: uppercase;
    width: 20%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	float:right;
}
.login-form input[type="reset"] {
    font-size: 1em;
    color: #ffffff;
    background:#FF0000;
    border: 1px solid #FF0000;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    -webkit-appearance: none;
	text-transform: uppercase;
    width: 20%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	float:right;
	margin-left:10px;
}
.login-form input[type="submit"]:hover {
    background: #333;
    color: #fff; 
    border: 1px solid #333;  
} 
.login-form input[type="reset"]:hover {
    background: #333;
    color: #fff; 
    border: 1px solid #333;  
} 
.login-bottom {
    margin-top:1.6em;
    text-align: center;
}
.login-bottom {
    margin-top: 1.6em;
    text-align: center;
}
.login-bottom1 h3 {
    color: #fff;
    font-size: 1em;
    letter-spacing: 4px;
}
.login-bottom h6 {
    font-size: 1em;
    letter-spacing: 2px;
}
.login-bottom h6 a {
    color: #333;
    transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-bottom h6 a:hover{
    color: #0f9d58; 
}
/*-- //main --*/ 

/*-- responsive-design --*/ 
@media(max-width:1366px){
}
@media(max-width:1024px){
	h1 {
		font-size: 2.6em;
		margin-bottom: .8em;
		letter-spacing: 3px;
	}
	.main {
		padding: 2em 0 0;
		text-align: center;
	}
}
@media(max-width:991px){
	.main {
		padding: 3em 0 0;
	}
}
@media(max-width:900px){
	.copyright p {
		font-size: .9em;
	}
	ul.top-links li a {
		font-size: 14px;
	}
}
@media(max-width:800px){
	.login-bottom h6 { 
		letter-spacing: 3px;
	}
	.login-form h2{
		font-size: 2em; 
		margin-bottom: 1.2em;
	}
}
@media(max-width:768px){
	.login-form h2 {
		font-size: 1.7em;
		margin-bottom: 1.2em;
	}
}
@media(max-width:640px){
	h1 {
		font-size: 2.4em;
	}
	.main-row {
		max-width: 350px;
	}
} 
@media(max-width:568px){
	.login-form p {
		font-size: 0.8em; 
		margin:1.2em 0 .8em; 
		letter-spacing: 4px;
	}
	.login-form input[type="text"], .login-form input[type="password"] {
		padding: .8em 1em;
	}
	.login-form input[type="submit"] {
		padding: .8em 1em;
		font-size: .9em;
	}
	.login-form input[type="reset"] {
		padding: .8em 1em;
		font-size: .9em;
	}
	.login-form h2 {
		font-size: 1.6em;
	}
	h1 {
		font-size: 2.2em;
	}
	.login-form h2 {
		font-size: 1.8em;
		margin-bottom: 1em;
	}
	.copyright p {
		font-size: 0.9em; 
		padding: 0 1em;
	} 
	.login-bottom h6 {
		font-size: 0.9em; 
		letter-spacing: 3px;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 1.9em;
	} 
	.login-form h2 {
		font-size: 1.6em;
		margin-bottom: 1em;
	}
	.main-row {
		max-width: 300px;
	}
	span.fa.fa-lock {
		font-size: 55px;
	}
}
@media(max-width:414px){ 
	h1 {
		font-size: 1.8em;
	} 
	.login-form h2 {
		font-size: 1.4em;
	}
	.login-form p {
		font-size: 0.75em;
		margin: 2em 0 .2em;
		letter-spacing: 2px;
	}
	.anim {
		font-size: 0.75em; 
	}
	.login-bottom {
		margin-top: 1em; 
	}
	.login-bottom1 h3 {
		letter-spacing: 2px;
	}
	ul.top-links li a {
		width: 40px;
		height: 35px;
		line-height: 35px;
	}
} 
@media(max-width:384px){
	h1 {
		letter-spacing: 2px;
	}
	.main {
		padding: 2em 0 0;
	}
}
@media(max-width:320px){  
	h1 {
		font-size: 1.5em; 
	}
	.login-form p {
		font-size: 0.7em; 
	}
	.login-bottom h6 {
		font-size: 0.75em;
		letter-spacing: 2px;
	}
	.login-bottom {
		margin-top: 0.8em;
	}
	.login-form h2 {
		font-size: 1.2em; 
	}
	.copyright p {
		font-size: 0.8em; 
	}
	.main {
		padding: 2em 0 0;
	}
	.copyright {
		padding: 1.4em 0 1em;
	}
	ul.top-links li {
		margin-left: 10px;
		margin-bottom: 28px;
	}
	ul.top-links li:nth-child(3) {
		margin-left: 10px;
		margin-bottom: 0px;
	}
}
/*-- //responsive-design --*/
.row {
	margin-bottom:20px;
}


/* Login styles */


.tabactive
{
color:red !important;
font-size:18px !important;
}
.impColor {
	color:red !important;
}
.error {
	color:red !important;
}
.con {
	background: #ffffff;
	min-height:100px;
	border-radius:5px;
}
.con h4 {
	margin-left:10px;
}
.con  a {
	text-decoration: none;
	color: #166eaf;
}
.con  a:hover {
	color: #3c5d6b;
}
.cdata {
	margin-left:20px;
}
.cdata  a {
	text-decoration: none;
	color: #166eaf;
}
.cdata  a:hover {
	color: #3c5d6b;
}
#order {
	margin-left:20px;
	display:none;
}
#save {
	display:none;
}



/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #166eaf; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #013950; 
}
/* scrollbar */



/* selection bar */
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #013950;
}

::selection {
    color: #fff;
    background: #013950;
}
/* selection bar */


.about p{
	color:#000000;
	font-size:16px;
	text-align:justify;
	margin-left:20px;
}
.about span {
	margin-left:50px;
}
.about img {
	margin:0 auto;
}
.mission p {
	color:#000000;
	margin-left:50px;
	text-align:justify;
	font-size:16px;
}
.vision p {
	color:#000000;
	margin-left:50px;
	text-align:justify;
	font-size:16px;
}
.career p {
	color:#000000;
	margin-left:50px;
	text-align:justify;
	font-size:16px;
}
.contact {
	margin-bottom:20px;
}
.form> .col-md-6 {
	padding:10px;
}




/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #166eaf; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #013950; 
}
/* scrollbar */



/* selection bar */
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #013950;
}

::selection {
    color: #fff;
    background: #013950;
}
/* selection bar */


/* Gallery */
.grid {
	position: relative;
	/*margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;*/
	text-align: center;
	margin-left:-10px;
	margin-right:-10px;
}
.bot {
	margin-bottom:20px;
}
.grid .col-lg-4 {
	padding:10px;
}

/* Common style*/
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin:0px;
	/*min-width: 320px;
	max-width: 480px;
	max-height: 360px;*/
	width: 100%;
	background: #ff0050;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
	height:231px;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {
	background: #166eaf;
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
	font-size:14px;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}

figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
	font-size: 13px;
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1080px){
	
}
@media(max-width:1050px){
	
}
@media(max-width:1024px){
.grid figure figcaption {
    padding: 1.5em;
}	
}
@media(max-width:991px){
	
}
@media(max-width:900px){
	
}
@media(max-width:800px){
	
}
@media(max-width:768px){
	
}
@media(max-width:767px){
	figure.effect-milo p {
    width: 80%;
	}
}
@media(max-width:736px){
	
}
@media(max-width:667px){
	
}
@media(max-width:640px){
	
}
@media(max-width:600px){
	
}
@media(max-width:568px){
	
}
@media(max-width:480px){
	
}
@media(max-width:440px){
	
}
@media(max-width:414px){
	
}
@media(max-width:384px){
	
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	
}
/*--//responsive--*/
/* Gallery */


/* ninja slider */

#ninja-slider {
    width:100%;
    background:#013950;
    padding: 30px 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider.fullscreen {
    background:#000;
}


#ninja-slider .fs-icon {
    top:6px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.2);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
    opacity: 1;
}
#ninja-slider.fullscreen div.fs-icon {
    right:30px;
}

#ninja-slider .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider.fullscreen .fs-icon::before {
    content:"CLOSE";
}


#ninja-slider .slider-inner {
    max-width:800px;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider.fullscreen .slider-inner {
    width:95%;
    max-width:800px;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: inset 0 0 2px rgba(255,255,255,.3);
    border-radius:6px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    padding:20px 40px;
    margin:auto;
    left:0;right:0;
    top:auto;bottom:0px;
    width:auto;
    text-align:right;
    font-family:sans-serif;
    font-size:11px;
    color:rgba(255,255,255,0.2);
    background:none;
    /*background:rgba(0,0,0,0.12);*/
    position:absolute;
    box-sizing:border-box;
}
#ninja-slider li .cap1 {
    color:rgba(255,255,255,0.5);
    font:bold 32px arial;
    text-align:center;

    opacity:0;
    bottom:40%;
    -webkit-transition:bottom 1.3s, opacity 1s;
    transition:bottom 1.3s, opacity 1s;
}

/*The cap1 of the current slide */
#ninja-slider li[class*='-'] .cap1 {
    opacity:1;
    bottom:20%;
}
#ninja-slider li .cap2 {
    color:rgba(255, 162, 0, 0.5);
    font-size:23px;
    bottom:15%;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

/*The cap2 of the current slide */
#ninja-slider li[class*='-s'] .cap2 {
    bottom:10%;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}  

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-51px;/*pager's height should also be counted*/
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: -42px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: -42px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    right:4px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager
{
    padding-top:30px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #CCC;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-pager a.active 
{
    background-color:#1293dc;
    box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }

    
    #ninja-slider li .cap1 {
        font-size:20px;
    }
}


/* ninja slider */

/* Other locations */
.panel-info {
}
.panel-info>.panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.panel-info>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-info>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-info>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Other Locations */