<html>  
  <body>  
  <h3>Hi,${name} </h3> 
  <h3> Greetings! </h3> 
  <div>Your Password sent Successfully </div>
  <body>
	  You are just a step away from accessing your AbheeSmartHomeSystems account.
	  We are sharing your password to access your account and usable.
  </body>
  <div>Your Password:${password}</div>
  <div>Thanks&Regards</div>
 
  </html> 