<html> 

  <body>  
  <h3>Dear ${name}, </h3> 
  <div>
  The Following Service Request is assigned to you related to the service request no ${taskno} and Request details is given below:
  </div>
  <table>
   <th>CustomerName:</th>
  <td>${Firstname} ${Lastname}</td>
  </tr>
  <tr>
  <th>Customer MobileNumber:</th>
  <td>${mobileno}</td>
  </tr>
  <tr>
  <th>Description:</th>
  <td>${description}</td>
  </tr>
  </table>
  <div>Thanks & Regards</div>
  </body> 
  </html> 